.portifolio {
  .slider {
    grid-column: 2;
  }

  &.content {
    grid-column: 2/-1;
    margin-inline-end: 6ch;
  }

  &-item {
    --padding: 0;
    // transition: 300ms ease-in-out;

    &:before {
      all: unset;
    }

    img {
      aspect-ratio: 16 / 9;
      object-fit: cover;
    }

    .badger-list {
      --padding: 2ch;
      @include flex(row, 1ch, wrap);
      position: absolute;
      top: var(--padding);
      left: var(--padding);
    }

    &-content {
      padding: 2ch;
      position: relative;
      @include flex(column, 2ch, wrap);

      .call-to-action {
        @include grid(1fr 1fr, 2ch);
        align-items: center;
        justify-content: space-between;
      }
    }
  }
  // }
}

.rec {
  .rec-swipable {
    align-items: center;
  }
  .rec-arrow {
    --width: 1.5rem;
    // all: unset;
    background: none;
    box-shadow: unset;
    width: var(--width);
    height: var(--width);
    min-width: var(--width);
    line-height: var(--width);

    &:hover,
    &:focus {
      background-color: unset !important;
    }
  }
}
