html {
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  &:nth-child(2) {
    margin-block-start: $header-height;
  }
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
