.wrapper .content {
  $gtc: 200px 1fr;
  $gap: 0 clamp(2.5ch, 4vw, 8ch);
  @include grid($gtc, $gap);
  padding-block: 6ch;

  &,
  .heading {
    @include breakpoint(notebook) {
      grid-template-columns: 1fr;

      .heading {
        grid-row: span 0;
        word-wrap: unset;
      }
    }
  }
}
